html,
body {
    margin: 0;
    padding: 0;
    height: 93%;
}

body {
    background: #efedff;
    color: black;
    zoom: 120%;
}


td, th {
    padding: 10px;
}

div#header {
    z-index: -1;
    position: absolute;
    float: left;
    width: 100%;
    background-color: #c0c0c0;
    padding: 5px 0 5px;
    left: 0;
    top: 0;
    border-bottom: black solid 5px;
}

div#header H1 {
    left: 50%;
    text-align: center;
}

div#header H2 {
    margin-top: -10px;
    left: 50%;
    text-align: center;
    font: 150% sans-serif;
}

a#logo {
    margin-top: -110px;
    margin-left: 55px;
    position: absolute;
    float: left;
}

div.main {
    border: black solid 1px;
    padding: 15px;
    width: 700px;
    text-align: left;
    margin: 20px auto 0;
}

footer {
    width: 100%;
    margin: 0;
    padding-left: 50px;
    left: 0;
    bottom: 0;
    position: fixed;
    border-top: black dotted 2px;
    background-color: white;
}

a:hover, a:active, a:link, a:visited {
    color: #232323;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

div.main form {
    margin: 0 auto 15px;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
    /*    width:       fit-content;*/
    border: black dashed thick;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.menu_employee {
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
    align-items: center;
    text-align: center;
    align-self: center;
    padding: 15px;
    font-size: 30px;
}

th {
    text-align: center
}

table.menu_employee td {
    padding: 15px;
    border: 1px solid black;
}

table caption {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

div.main form > * {
    margin: 10px 2px;
}

div.main form input, select {
    padding: 7px 7px;
    background: whitesmoke;
    border-style: solid;
    border-width: 2px;
}

button, input[type=submit], input[type=reset] {
    align-self: center;
    display: inline-block;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

button:hover, input[type=submit]:hover, input[type=reset]:hover {
    color: white;
    background: black;
}

button:active, input[type=submit]:active, input[type=reset]:active {
    color: black;
    background: grey;
}

input[type=submit].remove {
    align-self: center;
    display: inline-block;
    color: darkred;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

input[type=submit].remove:hover {
    color: white;
    background: darkred;
}

input[type=submit].remove:active {
    color: white;
    background: darkred;
}